
* {
  padding: 0;
  margin: 0;
  box-sizing:  border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
header{
margin-top: 40px;
background-color: white;
padding: 20px;
width: 80%;
text-align: center;
border-radius: 5px;
border: 1px solid black;
box-shadow: 5px 5px 5px gray;
}
h1{
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}
.c-input{
  width: 100%;
  display: flex;
}
.inputT{
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid black;
}
.btnAdd{
  width: 20%;
  margin-left: 15px;
  border: none;
  background: none;
  color: blue;
  cursor: pointer;
  border-radius: 5px;
}
.btnAdd:hover{
  background-color: rgb(0, 0, 255, 0.1);
}
ul{
  width: 80%;
  margin-top: 25px;
  list-style: none;
}
li{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px gray;
  font-size: 18x;
}
.btnExcluir{
  border: none;
  background: none;
  color: red;
  cursor: pointer;
}
.section2{
  display: flex;
}
.checkbox{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

